<br>
<br>
<mat-card class="my-card">
    <br>
    <!--<mat-card-content>{{ content }}</mat-card-content>-->
    <b> ✈️ WELCOME TO FLIGHT MANAGEMENT SYSTEM ✈️
    </b>
    <br><br>
</mat-card>
<br>
<br>

<mat-card class="my-card">
    <!--<mat-card-content>{{ content }}</mat-card-content>-->
    <pre>We are an Indian low-cost airline headquartered in Pune, Maharashtra. 
      We are the second largest airline in the country by number of domestic 
      passengers carried, with a market share of 13.6% as of March 2019. 
      The airline operates 630 daily flights to 64 destinations, including 
      54 Indian and 15 international destinations 
      from its hubs at Delhi, Mumbai and Hyderabad. 

   <i>REGISTER & LOG IN with us to start planning for your trips with us ✈️ </i> 
   <i>🙏  WE WILL BE HONOURED TO HOST YOU 🙏 </i>
  </pre>
    <b> Are you a new user?</b><br>
    <a matLine routerLink="/register" md-colors="::::"><b>REGISTER HERE</b></a>
    <br>
    <br>
    <b> Already registered? </b> <br>
    <a matLine routerLink="/login" md-colors="::::"><b>LOG IN HERE</b></a>
    <br>
    <br>
</mat-card>